<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.expermintaltrick">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".FragmentList.Frames.Frame1" />
        <activity android:name=".FragmentList.Frames.Frame2" />
        <activity android:name=".FragmentList.Frames.Frame3" />
        <activity android:name=".FragmentList.Frames.Frame4" />
        <activity android:name=".FragmentList.Frames.Frame5" />
        <activity android:name=".FragmentList.Frames.Frame6" />
        <activity android:name=".FragmentList.Frames.Frame7"></activity>
    </application>

</manifest>